.DS_Store
.ipynb_checkpoints
node_modules
/bazel-*
/third_party/py/numpy/numpy_include
/tools/bazel.rc
/tools/python_bin_path.sh
/tools/git/gen
/util/python/python_include
/util/python/python_lib
/pip_test
/_python_build
*.pyc
__pycache__
*.swp
.vscode/
.idea/
/tensorflow/contrib/cmake/build
/tensorflow/core/util/version_info.cc
/third_party/gpus/cuda/cuda_config.h
/third_party/gpus/cuda/include

